---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c71c80842aa45595550864feda0df031"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test&description=NASA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/90
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"50d79417a96ed77c8a589c7740b6dfd1"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","description":"NASA","id":90,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"base":"not found: Couldn''t find Catalog with id=90"},"status":404}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
