---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c71c80842aa45595550864feda0df031"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test&description=NASA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/88
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"eb6ccd830ac110a7bb8bcad487b6fc85"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:06Z","description":"NASA","id":88,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:06Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/88
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"eb6ccd830ac110a7bb8bcad487b6fc85"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:06Z","description":"NASA","id":88,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:06Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
recorded_with: VCR 2.2.4
