---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1f37dc06830c60b0f3126b20683742e3"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:06Z","description":null,"id":87,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:06Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/87
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a2bdeef1a533e9150f8576902ad923e4"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide
        catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"},{"created_at":"2013-01-02T22:26:27Z","description":"ESA","id":80,"name":"test2","options":{"image_src":null},"updated_at":"2013-01-02T22:26:27Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
recorded_with: VCR 2.2.4
