---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c71c80842aa45595550864feda0df031"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1474ace0878a6b3a8db632fd2b9675cf"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:26:27Z","description":"ESA","id":80,"name":"test2","options":{"image_src":null},"updated_at":"2013-01-02T22:26:27Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test2&description=NASA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/89
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7089ce3bbf457e7562fc1a29981fd723"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","description":"NASA","id":89,"name":"test2","options":{"image_src":null},"updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ecfa361d3ae6d09247c609b1ebf21bc9"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","description":"ESA","id":89,"name":"test2","options":{"image_src":null},"updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
