---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c71c80842aa45595550864feda0df031"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/non-existant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"base":"not found"},"status":404}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
