---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a108227ed3fdbf94f73134cc8e21aecf"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:06Z","description":"NASA","id":88,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:06Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/88
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=GoodGuide
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"name":["has already been taken"],"attrs":["is invalid"]},"status":"unprocessable_entity"}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
recorded_with: VCR 2.2.4
