---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c71c80842aa45595550864feda0df031"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/91
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a4a0c088f7c084ae2cacf21355fd4600"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","description":null,"id":91,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/91/schemas/Product
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d01a126a103a84378de5af48f86d8f84"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"/catalogs/91/schemas/Product","title":"Product","type":"object","additionalProperties":false,"properties":{"id":{"type":"integer","readonly":"true"},"type":{"type":"string","required":"true","readonly":"true"},"catalog_id":{"type":"integer","readonly":"true"},"provider_id":{"type":"integer","readonly":"true"},"attr_values":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","title":"name","required":false}}}}}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
