---
http_interactions:
- request:
    method: post
    uri: http://jenkins-docker-machine-1.do.goodguide.com:33254/api/users/session
    body:
      encoding: UTF-8
      string: '{"email":"admin@goodguide.com","password":"password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - http://jenkins-docker-machine-1.do.goodguide.com:33254/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="http://jenkins-docker-machine-1.do.goodguide.com:33254/">redirected</a>.</body></html>
  recorded_at: Mon, 28 Mar 2016 02:14:33 GMT
recorded_with: VCR 3.0.1
