---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=GoodGuide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"37c49b96cf01d89ba04670183915b593"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[{"created_at":"2012-12-21T21:03:16Z","id":1,"name":"GoodGuide","updated_at":"2012-12-21T21:03:16Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
