---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"18692d3d5419df2c74bab7c127529fa9"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/providers
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/providers/72
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1c72515d46364e3834c6824327888cb4"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":72,"name":"test","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1c72515d46364e3834c6824327888cb4"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":72,"name":"test","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
