---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e1c59b193a1dbbae9a7641d6de429186"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[{"created_at":"2013-01-02T22:29:07Z","id":74,"name":"test","updated_at":"2013-01-02T22:29:07Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/providers/74
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/providers
    body:
      encoding: US-ASCII
      string: name=test&description=NASA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/providers/76
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"eea41362271778e8daddf3230f6614d1"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":76,"name":"test","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers/76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"base":"not found: Couldn''t find Provider with id=76"},"status":404}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
