---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"18692d3d5419df2c74bab7c127529fa9"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dbbd24e7981db37d484048e50845ba66"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[{"created_at":"2013-01-02T22:29:07Z","id":73,"name":"test2","updated_at":"2013-01-02T22:29:07Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/providers/73
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/providers
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/providers/74
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0bd4dfeb2032f182589d1293eff7010a"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":74,"name":"test","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
[...]
- request:
    method: put
    uri: http://entity-soup-test.goodguide.dev/v1/providers/75
    body:
      encoding: UTF-8
      string: created_at=2013-01-02T22%3A29%3A07Z&id=75&name=test&updated_at=2013-01-02T22%3A29%3A07Z
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"name":["has already been taken"]},"status":"unprocessable_entity"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
