---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0336573b1ef795d001e53017aecbd7b9"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[{"created_at":"2013-01-02T22:29:07Z","id":72,"name":"test","updated_at":"2013-01-02T22:29:07Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/providers/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers.json?name=test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0bd574c8d7ca9a12110232979b9adef6"'
    body:
      encoding: US-ASCII
      string: ! '{"providers":[{"created_at":"2013-01-02T22:26:27Z","id":70,"name":"test2","updated_at":"2013-01-02T22:26:27Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
[...]
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/providers
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/providers/73
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1be73b5fad04381d26aa7ac46444a14c"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":73,"name":"test","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/providers/73
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"73d0152bd6a8d152cd0eccf07842969c"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:07Z","id":73,"name":"test2","updated_at":"2013-01-02T22:29:07Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:07 GMT
recorded_with: VCR 2.2.4
