---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: type=Product&provider_id=1&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/452
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"21877b5f4061e14ea148b5c27fe72ee0"'
    body:
      encoding: US-ASCII
      string: ! '{"id":452,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities.json?catalog_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"896bc988859d7d08c12dcb80eed8839b"'
    body:
      encoding: US-ASCII
      string: ! '{"entities":[{"id":41,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1},{"id":42,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1},{"id":43,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1},{"id":44,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1},{"id":45,"type":"Brand","attr_values":{},"catalog_id":1,"provider_id":1},{"id":86,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1},{"id":87,"type":"Product","attr_values":{},"catalog[...]
