---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: type=Product&provider_id=1&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/451
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"588661542db12b2e190a48895bf50442"'
    body:
      encoding: US-ASCII
      string: ! '{"id":451,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/451
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"588661542db12b2e190a48895bf50442"'
    body:
      encoding: US-ASCII
      string: ! '{"id":451,"type":"Product","attr_values":{},"catalog_id":1,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
recorded_with: VCR 2.2.4
