---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fbca548bd93625e345a3ec77fde9a3e6"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:03Z","description":null,"id":83,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:03Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/83
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/84
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"73c541bd1540644ec1722a29e290b633"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:04Z","description":null,"id":84,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:04Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=84&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/411
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7da971a117af4926b9eb075dac850407"'
    body:
      encoding: US-ASCII
      string: ! '{"id":411,"type":"Product","attr_values":{},"catalog_id":84,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
[...]
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=84&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/420
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d64f9bda5521ab5771fd2c90c59cda8b"'
    body:
      encoding: US-ASCII
      string: ! '{"id":420,"type":"Product","attr_values":{},"catalog_id":84,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
recorded_with: VCR 2.2.4
