---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3804ad0e6cbbed12efd1d0a9e67570d2"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:26:27Z","description":null,"id":82,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:26:27Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:03 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:03 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/83
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ac3acde8c40f54dba8e5f4d37ef1043e"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:03Z","description":null,"id":83,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:03Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/attrs
    body:
      encoding: US-ASCII
      string: name=attr1&entity_type=Product&type=IntegerAttr&catalog_id=83
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/attrs/569
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f4d5a21864bfa69a6878bcebd8cb76e4"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":83,"created_at":"2013-01-02T22:29:04Z","entity_type":"Product","id":569,"name":"attr1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"attr1","required":false},"updated_at":"2013-01-02T22:29:04Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=83&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"28c1dd24e9ca93307987d34c5bfe701f"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":83,"created_at":"2013-01-02T22:29:03Z","entity_type":"Brand","id":564,"name":"name","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":1,"hide":false,"title":"Name"},"schema":{"type":"string","title":"name","required":false},"updated_at":"2013-01-02T22:29:03Z","type":"StringAttr"},{"catalog_id":83,"created_at":"2013-01-02T22:29:03Z","entity_type":"Category","id":565,"name":"name","options":{"list":false,"allow_nil":true,"default_value":null,"sort"[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/569?include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"803afe7a8c9234fc8a1239b91aaae86b"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":83,"created_at":"2013-01-02T22:29:04Z","entity_type":"Product","id":569,"name":"attr1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"attr1","required":false},"updated_at":"2013-01-02T22:29:04Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:04 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?id%5B0%5D=569&id%5B1%5D=570&id%5B2%5D=571&id%5B3%5D=572&id%5B4%5D=573&id%5B5%5D=574&id%5B6%5D=575&id%5B7%5D=576&id%5B8%5D=577&id%5B9%5D=578&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2a2986f30e45d0fa073912e5289c3b[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/573?include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf8
      X-Pow-Template:
      - application_not_found
    body:
      encoding: ASCII-8BIT
      string: ! "<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Application
        not found</title>\n  <style>\n    body {\n      margin: 0;\n      padding:
        0;\n      background: #e0e0d8;\n      line-height: 18px;\n    }\n    div.page
        {\n      margin: 72px auto;\n      margin: 36px auto;\n      background: #fff;\n
        \     border-radius: 18px;\n      -webkit-box-shadow: 0px 2px 7px #999;\n
        \     -moz-box-shadow: 0px 2px 7px #999;\n      padding: 36px 90px;\n      width:
        480px;\n      position: relative;\n    }\n    .big div.page {\n      width:
        720px;\n    }\[...]
[...]
