---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"62f60bc24ac17285411b0191f97e0375"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:04Z","description":null,"id":84,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:04Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/84
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/85
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"da562f0c5e96a0b3f893e921175f33dc"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:05Z","description":null,"id":85,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=85&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/421
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"28437220263170072bc3fc6162aa2f90"'
    body:
      encoding: US-ASCII
      string: ! '{"id":421,"type":"Product","attr_values":{},"catalog_id":85,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
[...]
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=85&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/430
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1865acbd3f9dcc1d799e99d41f0fa855"'
    body:
      encoding: US-ASCII
      string: ! '{"id":430,"type":"Product","attr_values":{},"catalog_id":85,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
recorded_with: VCR 2.2.4
