---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c8159e7b479797a1e6c97d7fff567207"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:05Z","description":null,"id":85,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/85
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/86
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"83d9e5f3cd6e270af989271dfe3d88fd"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:05Z","description":null,"id":86,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=86&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/431
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dd1607cfda766dbf954098506ae754c1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":431,"type":"Product","attr_values":{},"catalog_id":86,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/431
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dd1607cfda766dbf954098506ae754c1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":431,"type":"Product","attr_values":{},"catalog_id":86,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/435
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf8
      X-Pow-Template:
      - application_not_found
    body:
      encoding: ASCII-8BIT
      string: ! "<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Application
        not found</title>\n  <style>\n    body {\n      margin: 0;\n      padding:
        0;\n      background: #e0e0d8;\n      line-height: 18px;\n    }\n    div.page
        {\n      margin: 72px auto;\n      margin: 36px auto;\n      background: #fff;\n
        \     border-radius: 18px;\n      -webkit-box-shadow: 0px 2px 7px #999;\n
        \     -moz-box-shadow: 0px 2px 7px #999;\n      padding: 36px 90px;\n      width:
        480px;\n      position: relative;\n    }\n    .big div.page {\n      width:
        720px;\n    }\[...]
[...]
