---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c8159e7b479797a1e6c97d7fff567207"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:05Z","description":null,"id":85,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/85
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/86
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"83d9e5f3cd6e270af989271dfe3d88fd"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:05Z","description":null,"id":86,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=86&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/431
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dd1607cfda766dbf954098506ae754c1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":431,"type":"Product","attr_values":{},"catalog_id":86,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/431
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dd1607cfda766dbf954098506ae754c1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":431,"type":"Product","attr_values":{},"catalog_id":86,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/432
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"13141d53e44baade564f884c6b109ac4"'
    body:
      encoding: US-ASCII
      string: ! '{"id":432,"type":"Product","attr_values":{},"catalog_id":86,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
recorded_with: VCR 2.2.4
