---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&name=test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bf4aef460f0263490f0dd27a5e0c4005"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":622,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/attrs
    body:
      encoding: US-ASCII
      string: name=test1&type=IntegerAttr&entity_type=Product&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/attrs/624
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5bff853512794b4ab1c1b2de17137b42"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":624,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/624?include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"74172cfb431f72509a2cac97f154a7f7"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":624,"name":"test2","options":{"list":"false","allow_nil":"true","default_value":null,"sort":null,"position":null,"hide":"false","title":null},"schema":{"type":"integer","title":"test2","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
recorded_with: VCR 2.2.4
