---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&name=test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"308935acf8b376bbce7e14cd1371b33e"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/attrs
    body:
      encoding: US-ASCII
      string: name=test1&type=IntegerAttr&entity_type=Product&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/attrs/625
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"44b40045a749695ca646a850f8f87c7b"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":625,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/625
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/625?include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"base":"not found: Couldn''t find Attr with id=625"},"status":404}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
recorded_with: VCR 2.2.4
