---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&name=test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"308935acf8b376bbce7e14cd1371b33e"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&name=test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4d0bde5651beee858623bd19b3520eb7"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2013-01-02T22:26:28Z","entity_type":"Product","id":562,"name":"test2","options":{"list":"false","allow_nil":"true","default_value":null,"sort":null,"position":null,"hide":"false","title":null},"schema":{"type":"integer","title":"test2","required":false},"updated_at":"2013-01-02T22:26:28Z","type":"IntegerAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/562
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/attrs
    body:
      encoding: US-ASCII
      string: name=test1&type=IntegerAttr&entity_type=Product&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/attrs/620
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ac473510b839cb89ef585ff6eea73120"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":620,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6835000e0d05dad9cb35263326d0a041"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","entity_type":"Brand"[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?entity_type=Product&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0b124b14bc3063d77634ffe271bd5eda"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&type=StringAttr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"206633552c95e50290e79b9b27a7ebc5"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":89,"created_at":"2013-01-02T22:29:07Z","ent[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=1&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"82f6aa2c589a9875e65d9a98290c2300"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","entity_[...]
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=1&include%5B0%5D=schema&name=test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"93e6dc719ac8b1c4f73308df14e8c776"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":620,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?entity_type=Product&exclude%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"794b010b44ff7c90238fd2b3323fc4b5"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","[...]
