---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs.json?name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"eb4d005608552221379ee54ae256f643"'
    body:
      encoding: US-ASCII
      string: ! '{"catalogs":[{"created_at":"2013-01-02T22:29:05Z","description":null,"id":86,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:05Z"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/86
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:05 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs
    body:
      encoding: US-ASCII
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/catalogs/87
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8f9cc737adf99bfeda87f5dcf6422601"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-01-02T22:29:06Z","description":null,"id":87,"name":"test","options":{"image_src":null},"updated_at":"2013-01-02T22:29:06Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/entities
    body:
      encoding: US-ASCII
      string: catalog_id=87&provider_id=1&type=Product
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/entities/441
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ecdc91cd8bde4756981677db7153fa54"'
    body:
      encoding: US-ASCII
      string: ! '{"id":441,"type":"Product","attr_values":{},"catalog_id":87,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/442
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8f3059090092e8300a9c44d21e1c6a29"'
    body:
      encoding: US-ASCII
      string: ! '{"id":442,"type":"Product","attr_values":{},"catalog_id":87,"provider_id":1}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"base":"not found: Couldn''t find Entity with id=-1"},"status":404}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/entities/450
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf8
      X-Pow-Template:
      - application_not_found
    body:
      encoding: ASCII-8BIT
      string: ! "<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Application
        not found</title>\n  <style>\n    body {\n      margin: 0;\n      padding:
        0;\n      background: #e0e0d8;\n      line-height: 18px;\n    }\n    div.page
        {\n      margin: 72px auto;\n      margin: 36px auto;\n      background: #fff;\n
        \     border-radius: 18px;\n      -webkit-box-shadow: 0px 2px 7px #999;\n
        \     -moz-box-shadow: 0px 2px 7px #999;\n      padding: 36px 90px;\n      width:
        480px;\n      position: relative;\n    }\n    .big div.page {\n      width:
        720px;\n    }\[...]
[...]
