---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"78998be29aa33124222170d1f6009ed3"'
    body:
      encoding: US-ASCII
      string: ! '{"attr_types":[{"name":"BooleanAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"DerivedAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null,"rule":"{}"}},{"name":"EntityAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null,"entity_type":null}},{"name":"FloatAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"IdentityAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"IntegerAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"JSONAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"NumericAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"PercentageAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}},{"name":"StringAttr","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null}}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:06 GMT
recorded_with: VCR 2.2.4
