---
http_interactions:
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?include%5B0%5D=schema&name=test1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"93e6dc719ac8b1c4f73308df14e8c776"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":620,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: delete
    uri: http://entity-soup-test.goodguide.dev/v1/attrs/620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/catalogs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"059f71654520b4c73c70a143254880af"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-21T21:03:16Z","description":"GoodGuide catalog","id":1,"name":"GoodGuide","options":{"image_src":null},"updated_at":"2012-12-21T21:03:16Z"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: post
    uri: http://entity-soup-test.goodguide.dev/v1/attrs
    body:
      encoding: US-ASCII
      string: name=test1&type=IntegerAttr&entity_type=Product&catalog_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://entity-soup-test.goodguide.dev/v1/attrs/622
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4bd0640848d317f26dd2859bf0773b4a"'
    body:
      encoding: US-ASCII
      string: ! '{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":622,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=1&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c60df799f63511980cdbe8396ec1b320"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","entity_[...]
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=1&include%5B0%5D=schema&type=IntegerAttr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"981b42bdb9cdbf3a747ef43c4eb4e031"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":619,"name":"test","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"test","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"},{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Product","id":622,"name":"test1","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"integer","title":"test1","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"IntegerAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
- request:
    method: get
    uri: http://entity-soup-test.goodguide.dev/v1/attrs.json?catalog_id=1&entity_type=Brand&include%5B0%5D=schema
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b3bf6ee1f2eb39bb7add66079e8cf158"'
    body:
      encoding: US-ASCII
      string: ! '{"attrs":[{"catalog_id":1,"created_at":"2012-12-21T21:03:16Z","entity_type":"Brand","id":1,"name":"name","options":{"list":false,"allow_nil":false,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"name","required":true},"updated_at":"2012-12-21T21:03:16Z","type":"IdentityAttr"},{"catalog_id":1,"created_at":"2013-01-02T22:29:08Z","entity_type":"Brand","id":623,"name":"test2","options":{"list":false,"allow_nil":true,"default_value":null,"sort":null,"position":null,"hide":false,"title":null},"schema":{"type":"string","title":"test2","required":false},"updated_at":"2013-01-02T22:29:08Z","type":"StringAttr"}]}'
  recorded_at: Wed, 02 Jan 2013 22:29:08 GMT
recorded_with: VCR 2.2.4
